@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham.eot');
  src: url('../fonts/gotham.eot') format("embedded-opentype"), url('../fonts/gotham.woff') format("woff"), url('../fonts/gotham.ttf') format("truetype"), url('../fonts/gotham.svg#Gotham') format("svg");
}


@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/gotham-bold.eot');
  src: url('../fonts/gotham-bold.eot') format("embedded-opentype"), url('../fonts/gotham-bold.woff') format("woff"), url('../fonts/gotham-bold.ttf') format("truetype"), url('../fonts/gotham-bold.svg#GothamBold') format("svg");
}


@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/gotham-book.eot');
  src: url('../fonts/gotham-book.eot') format("embedded-opentype"), url('../fonts/gotham-book.woff') format("woff"), url('../fonts/gotham-book.ttf') format("truetype"), url('../fonts/gotham-book.svg#GothamBook') format("svg");
}
